################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CoreWebAPI/obj
/CoreWebAPI/bin
/CoreWebAPI/.vs
